@model astroNerds.Models.HResult

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HResult</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoroscopeType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoroscopeType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoroscopeText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoroscopeText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZodiacSign)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZodiacSign)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.HoroscopeID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
